<section class="container bg-main-light shadow show p-5 rounded">
  <h2 class="mb-4">Register</h2>
  <div>
    <form action="" [formGroup]="registerForm" (submit)="signupSubmit()">
      <div class="my-3">
        <label for="name">Full Name:</label>
        <input
          class="form-control"
          id="name"
          name="name"
          formControlName="name"
          type="text"
          [ngClass]="{
            'is-valid':
              !registerForm.get('name')?.errors &&
              (registerForm.get('name')?.touched ||
                registerForm.get('name')?.dirty),
            'is-invalid':
              registerForm.get('name')?.errors &&
              (registerForm.get('name')?.touched ||
                registerForm.get('name')?.dirty)
          }"
        />
        @if (registerForm.get("name")?.errors &&
        (registerForm.get("name")?.touched || registerForm.get("name")?.dirty))
        {
        <p class="alert alert-danger">Name must be between 3 and 15 char</p>
        }
      </div>
      <div class="my-3">
        <label for="email">Email Addres:</label>
        <input
          class="form-control"
          id="email"
          name="email"
          formControlName="email"
          type="email"
          [ngClass]="{
            'is-valid':
              !registerForm.get('email')?.errors &&
              (registerForm.get('email')?.touched ||
                registerForm.get('email')?.dirty),
            'is-invalid':
              registerForm.get('email')?.errors &&
              (registerForm.get('email')?.touched ||
                registerForm.get('email')?.dirty)
          }"
        />
        @if (registerForm.get("email")?.errors &&
        (registerForm.get("email")?.touched ||
        registerForm.get("email")?.dirty)) {
        <p class="alert alert-danger">Enter a valid Email</p>
        }
      </div>
      <div class="my-3">
        <label for="password">Password:</label>
        <input
          class="form-control"
          id="password"
          name="password"
          formControlName="password"
          type="password"
          (input)="checkPasswordStrength()"
          [ngClass]="{
            'is-valid':
              !registerForm.get('password')?.errors &&
              (registerForm.get('password')?.touched ||
                registerForm.get('password')?.dirty),
            'is-invalid':
              registerForm.get('password')?.errors &&
              (registerForm.get('password')?.touched ||
                registerForm.get('password')?.dirty)
          }"
        />

        <!-- Show only when typing -->
        @if (passwordStarted) {
        <ul class="list-unstyled mt-4">
          <p>Password must contain:</p>
          <li
            class="ms-4"
            [class.text-success]="passwordRules.length"
            [class.text-danger]="!passwordRules.length"
          >
            <i
              class="fa"
              [class.fa-check]="passwordRules.length"
              [class.fa-xmark]="!passwordRules.length"
            ></i>
            At least 8 characters
          </li>
          <li
            class="ms-4"
            [class.text-success]="passwordRules.uppercase"
            [class.text-danger]="!passwordRules.uppercase"
          >
            <i
              class="fa"
              [class.fa-check]="passwordRules.uppercase"
              [class.fa-xmark]="!passwordRules.uppercase"
            ></i>
            One uppercase letter
          </li>
          <li
            class="ms-4"
            [class.text-success]="passwordRules.lowercase"
            [class.text-danger]="!passwordRules.lowercase"
          >
            <i
              class="fa"
              [class.fa-check]="passwordRules.lowercase"
              [class.fa-xmark]="!passwordRules.lowercase"
            ></i>
            One lowercase letter
          </li>

          <li
            class="ms-4"
            [class.text-success]="passwordRules.number"
            [class.text-danger]="!passwordRules.number"
          >
            <i
              class="fa"
              [class.fa-check]="passwordRules.number"
              [class.fa-xmark]="!passwordRules.number"
            ></i>
            One number
          </li>
          <li
            class="ms-4"
            [class.text-success]="passwordRules.special"
            [class.text-danger]="!passwordRules.special"
          >
            <i
              class="fa"
              [class.fa-check]="passwordRules.special"
              [class.fa-xmark]="!passwordRules.special"
            ></i>
            One special character
          </li>
        </ul>
        }
      </div>

      <div class="my-3">
        <label for="rePassword">Confirm Password:</label>
        <input
          class="form-control"
          id="rePassword"
          name="rePassword"
          formControlName="rePassword"
          type="password"
        />
        @if (registerForm.getError("mismatch")&&
        registerForm.get("rePassword")?.touched) {
        <div class="alert alert-danger">
          <p>Password is not matched!</p>
        </div>
        }
      </div>
      <div class="my-3">
        <label for="dateOfBirth">Date of Birth:</label>
        <input
          class="form-control"
          id="dateOfBirth"
          name="dateOfBirth"
          formControlName="dateOfBirth"
          type="date"
          [ngClass]="{
            'is-valid':
              !registerForm.get('dateOfBirth')?.errors &&
              (registerForm.get('dateOfBirth')?.touched ||
                registerForm.get('dateOfBirth')?.dirty),
            'is-invalid':
              registerForm.get('dateOfBirth')?.errors &&
              (registerForm.get('dateOfBirth')?.touched ||
                registerForm.get('dateOfBirth')?.dirty)
          }"
        />
      </div>
      <div class="my-3">
        <label class="d-block mb-2 fw-semibold">Gender:</label>

        @for (option of ['male', 'female']; track option) {
        <div class="form-check form-check-inline text-black">
          <input
            class="form-check-input"
            type="radio"
            id="gender-{{ option }}"
            name="gender"
            [value]="option"
            formControlName="gender"
            [ngClass]="{
              'is-valid':
                !registerForm.get('gender')?.errors &&
                (registerForm.get('gender')?.touched ||
                  registerForm.get('gender')?.dirty),
              'is-invalid':
                registerForm.get('gender')?.errors &&
                (registerForm.get('gender')?.touched ||
                  registerForm.get('gender')?.dirty)
            }"
          />
          <label class="form-check-label" for="gender-{{ option }}">
            {{ option | titlecase }}
          </label>
        </div>
        } @if (registerForm.get('gender')?.invalid &&
        registerForm.get('gender')?.touched) {
        <div class="invalid-feedback d-block">Please select your gender.</div>
        }
      </div>

      @if (errorMessage) {
      <p class="alert alert-danger">{{ errorMessage }}</p>
      }
      <button [disabled]="isLoading" type="submit" class="btn-main w-100 fs-4">
        Sign up @if (isLoading) {<i class="fa-solid fa-circle-notch fa-spin"></i
        >}
      </button>
      <p class="mt-3 alert-link text-main cr registerbutt" routerLink="/login">
        have an account? Sign in
      </p>
    </form>
  </div>
</section>
