<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand text-main h3 fw-bolder ms-5" href="#"
      >Linked Posts</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      @if (userToken == null) {
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2">
          <a class="nav-link" routerLinkActive="active-link" routerLink="login"
            >Login</a
          >
        </li>
        <li class="nav-item mx-2">
          <a
            class="nav-link"
            routerLinkActive="active-link"
            routerLink="register"
            >Register</a
          >
        </li>
      </ul>
      } @else {
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2">
          <a
            class="nav-link"
            routerLinkActive="active-link"
            routerLink="myposts"
            >My posts</a
          >
        </li>

        <li class="nav-item mx-2">
          <a (click)="logOut()" class="nav-link cr">Logout</a>
        </li>
      </ul>
      }
    </div>
  </div>
</nav>
