input {
  border-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 1000px) {
  .w-md-100 {
    width: 100% !important;
  }
}

.commentsBut {
  border: none;
  color: var(--main-color);
}

.bgeee {
  background-color: #eee;
}
